.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   margin-bottom: 30px;
}
.singer {
   border-radius: 50%;
   overflow: hidden;
}
.avatar {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   overflow: hidden;
   transition: transform 0.3s ease;
   &:hover {
      transform: scale(1.2);
   }
}
.name {
   margin-top: 10px;
   color: white;
   &:hover {
      text-decoration: underline;
   }
}

.just_img {
   .avatar {
      &:hover {
         transform: none;
         cursor: auto;
      }
   }
   .name {
      display: none;
   }
}

@media (min-width: 740px) and (max-width: 1023px) {
   .wrapper {
      width: 220px;
   }
}

@media (max-width: 739px) {
   .wrapper {
      width: 110px;
   }
}
