.container-search {
   display: flex;
}

.home {
   background-color: #333;
   border-radius: 50%;
   height: 43px;
   width: 45px;
   margin-right: 10px;
   display: flex;
   align-items: center;

   > svg {
      flex: 1;
      color: rgb(179, 179, 179);
      padding-bottom: 1.4px;
   }

   &:hover {
      background-color: rgba(69, 69, 69, 0.9);
   }
}

.search {
   display: flex;
   position: relative;
   align-items: center;
   height: 39px;
   width: 400px;
   border-radius: 92px;
   border: 2px solid black;
   input {
      height: 99%;
      flex: 1;
      background-color: #333;
      border-radius: 92px 0 0 92px;
      padding-left: 14px;
      padding-right: 40px;
      color: white;
   }
   .search-btn {
      border-radius: 0 62px 62px 0;
      height: 35.6px;
      width: 52px;
      color: rgba(22, 24, 35, 0.7);
      &:hover {
         background-color: rgba(255 255 255/0.8);
      }
      &:active {
         background-color: rgba(255 255 255/0.9);
      }
   }
   &:focus-within {
      animation: lighthigh 0.5s linear forwards;
   }
   input:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35);
   }
}

@keyframes lighthigh {
   from {
      border: 2px solid black;
   }
   to {
      border: 2px solid white;
   }
}
@keyframes loading {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.clear-btn,
.loading {
   top: 25%;
   right: 16%;
   position: absolute;
   background-color: #333;
   color: #fff;
}
.loading {
   animation: loading 1.5s linear infinite;
}

.search-result {
   width: 400px;
}
.search-item {
   margin: 20px 10px;
}

@media (max-width: 1023px) {
   .home {
      display: none;
   }
}

@media (max-width: 739px) {
   .search {
      margin-left: 20px;
      height: 39px;
      width: 280px;
   }
}
