.wrapper {
   position: fixed;
   background-color: #181818;
   width: 300px;
   height: 100vh;
   margin: 0 10px;
   border-radius: 5px;
}
.container-menu {
   padding: 10px;
}
.container-menu-bottom {
   border-top: 2px solid white;
   margin: 10px;
   padding-top: 20px;
}
