.wrapper {
   position: fixed;
   top: 20px;
   left: -780px;
   width: 450px;
   background-color: #171717;
   border-radius: 10px;
   padding: 30px 60px 30px 50px;
   border: 3px solid #a1a1a1;
   box-shadow: 10px 8px 12px rgb(176 174 174 / 0.5);
}
.close {
   position: absolute;
   top: -19px;
   right: 10px;
   color: #818181;
   height: 0;
   width: 0;
   font-size: 32px;
}
.title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 25px;
      height: 50px;
      width: 50px;
      .logo {
         height: 80%;
         width: 80%;
         border-radius: 12px;
         background-color: white;
         font-size: 1rem;
      }
   }
   p {
      color: white;
      margin-left: 20px;
      font-weight: 700;
      font-size: 3rem;
   }
}

.form-group {
   margin: 14px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.form-message {
   display: block;
   color: red;
}

.form-label {
   color: white;
   font-weight: 700;
}
.form-control {
   margin-left: 10px;
   padding: 10px;
   background-color: #908f8f;
   border-radius: 10px;
   &::placeholder {
      color: #333;
   }
}
.icon {
   position: fixed;
   right: 68px;
}
.form-message {
   padding-left: 7px;
   margin-bottom: 10px;
   color: rgb(212 21 21 / 89%);
}

.form-submit {
   //    margin-left: 36%;
   margin: 30px auto 30px;
}

.bottom {
   margin-left: 10%;
   color: white;
   a {
      color: blue;
      margin-left: 5px;
   }
}

@media (min-width: 740px) and (max-width: 1023px) {
   .wrapper {
      top: 20px;
      left: -480px;
   }
}
