.wrapper {
   margin-bottom: 100px;
   color: white;
   padding: 20px;
}
.wrapper-info {
   display: flex;
   width: 100%;
   .image {
      border-radius: 4px;
      height: 300px;
      width: 300px;
   }
}
.left-container {
   .play-btn {
      font-weight: 800;
      font-size: 1.8rem;
      margin: auto;
      margin-top: 20px;
      width: 260px;
   }
}
.info {
   margin-left: 25px;
   flex: 1;
   .title {
      display: flex;
      justify-content: space-around;
      width: 100%;
      background-color: rgb(67, 67, 67);
      border-radius: 4px;
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 10px;
   }
}

@media (max-width: 739px) {
   .wrapper-info {
      display: flex;
      flex-direction: column;
      .info {
         margin-top: 20px;
         margin-left: 0;
      }
      .image {
         height: 100%;
         width: 100%;
      }
   }
}
