.wrapper {
   min-height: 1000px;
   margin-bottom: 100px;
}
.content-music {
   display: flex;
   padding: 20px;
   flex-wrap: wrap;
   margin-right: 20px;
}
.content-album {
   display: flex;
   padding: 20px;
   flex-wrap: wrap;
   margin-right: 20px;
}
.album-item {
   margin-right: 80px;
}
.title {
   padding: 20px 30px 0;
   color: white;
   font-weight: 800;
   font-size: 3rem;
}
.content-singer {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   .singer-item {
      margin-right: 60px;
   }
}

@media (min-width: 740px) and (max-width: 1023px) {
   .album-item {
      margin-right: 40px;
   }
}

@media (max-width: 739px) {
   .content-album {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
   }
   .album-item {
      margin-right: 0px;
   }
   .content-singer {
      justify-content: space-between;
      .singer-item {
         margin-right: 20px;
      }
   }
}
