.wrapper {
   min-height: 1000px;
   margin-bottom: 100px;
}
.content-music {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   flex-wrap: wrap;
   margin-right: 20px;
}
.content-album {
   display: flex;
   padding: 20px;
   flex-wrap: wrap;
   margin-right: 20px;
}
.album-item + .album-item {
   margin-left: 80px;
}
.title {
   padding: 20px 30px 0;
   color: white;
   font-weight: 800;
   font-size: 3rem;
}
.content-singer {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
