.wrapper {
   position: fixed;
   border-top: 1px solid rgba(255, 255, 255, 0.7);
   bottom: 0;
   color: var(--white);
   background-color: var(--black);
   width: 100%;
   height: 100px;
}
.player {
   height: 100%;
   padding: 10px;
}
.dashboard {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.media {
   display: flex;
   align-items: center;
   width: 270px;
   .media-left {
      margin-left: 10px;
      .cd-image {
         height: 64px;
         width: 64px;
         border-radius: 50%;
      }
   }
   .media-title {
      margin-left: 10px;
      width: 100%;
      .singer {
         color: rgba(255 255 255/0.7);
      }
   }
   .media-right {
      margin-left: 15px;
   }
}

.control {
   width: 500px;
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.control-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 230px;
   .repeat-btn,
   .backward-btn,
   .play-btn,
   .pause-btn,
   .forward-btn,
   .random-btn {
      cursor: pointer;
   }
   .play-btn {
      font-size: 2.7rem;
   }
   .pause-btn {
      font-size: 2.7rem;
   }
}
.duration-bar {
   width: 100%;
   // Copy Spotify
   .progress {
      cursor: pointer;
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      background: #3f3d4a; /* màu nền xám đậm */
      border-radius: 999px;
      cursor: pointer;
      outline: none;
      position: relative;
      overflow: hidden;
   }

   .progress::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px; /* hoặc 8px nếu muốn có */
      height: 8px;
      background-color: white;
   }
}

.control-right {
   margin-right: 10px;
   display: flex;
   justify-content: space-between;
   .volume {
      margin-right: 20px;
   }
   .volume,
   .list:hover {
      cursor: pointer;
   }
}

.container-list {
   border-radius: 10px;
   padding-top: 2px;
   width: 280px;
   height: 603px;
   background-color: #333;
   .playlist-title {
      background-color: white;
      padding-left: 10px;
      color: #000;
      font-weight: 700;
      margin: 8px 5px 8px;
      border-radius: 5px;
      border: 2px solid rgba(201, 201, 201, 0.997);
   }
   .next-title {
      margin-left: 10px;
      font-weight: 700;
   }
   .list-player {
      height: 470px;
      overflow: auto;
   }
}
.list-player::-webkit-scrollbar {
   width: 0px;
}
