.wrapper {
   background-color: #333;
   width: 20%;
   margin: 0 10px;
   border-radius: 5px;
}
.container-menu {
   padding: 10px;
}
.container-menu-bottom {
   border-top: 2px solid white;
   margin: 10px;
   padding-top: 20px;
}
