.container-btn {
   margin-right: 20px;
   display: flex;
}
.avatar {
   width: 35px;
   height: 35px;
   border-radius: 50%;
}
.options {
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.option-item {
   :hover {
      cursor: pointer;
   }
}
