.wrapper {
   display: flex;
   position: static;
   align-items: center;
   padding: 8px;
   color: var(--white);
   border-radius: 10px;
   &:hover {
      background-color: rgba(149, 149, 149, 0.8);
      .play-btn {
         display: block;
      }
      .pause-btn {
         display: block;
      }
      .more-btn {
         display: block;
      }
   }
}
.cd {
   display: flex;
   position: relative;
}
.image {
   height: 55px;
   width: 55px;
   border-radius: 4px;
   object-fit: cover;
}
.play-btn,
.pause-btn {
   position: absolute;
   display: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.info {
   margin-left: 10px;
   flex: 1;
}
.name {
   font-size: 1.6rem;
   font-weight: 700;
}
.singer {
   font-size: 1.4rem;
   color: rgba(252, 252, 253, 0.5);
}

.large {
   height: 100px;
   width: 330px;
   .image {
      height: 80px;
      width: 80px;
   }
}
.more-btn {
   display: none;
   margin-right: 10px;
}
