.wrapper {
   display: flex;
   align-items: center;
   padding: 8px;
   color: var(--white);
   border-radius: 10px;
   &:hover {
      background-color: rgba(149, 149, 149, 0.8);
      .play-btn {
         display: block;
      }
      .pause-btn {
         display: block;
      }
      .more-btn {
         display: block;
      }
   }
}
.cd {
   display: flex;
   position: relative;
}
.image {
   height: 55px;
   width: 55px;
   border-radius: 4px;
   object-fit: cover;
}
.play-btn,
.pause-btn {
   position: absolute;
   display: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.info {
   margin-left: 10px;
   flex: 1;
}
.name {
   font-size: 1.6rem;
   font-weight: 700;
}
.singer {
   font-size: 1.4rem;
   color: rgba(252, 252, 253, 0.5);
   &:hover {
      text-decoration: underline;
   }
}

// Options Prop
.large {
   height: 100px;
   width: 330px;
   .image {
      height: 80px;
      width: 80px;
   }
}
.small {
   height: 55px;
   width: 280px;
   .image {
      height: 40px;
      width: 40px;
   }
}

.just_img {
   &.wrapper {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 300px;
      padding: 0;
   }
   .play-btn,
   .pause-btn {
      font-size: 3rem;
   }
   .cd {
      overflow: hidden;
      border-radius: 4px;

      height: 100%;
      width: 100%;
      .image {
         height: 100%;
         width: 100%;
         transition: transform 0.2s ease;
         &:hover {
            transform: scale(110%);
         }
      }
   }
}

.rating_view,
.rating_favourite {
   &:hover {
      background-color: transparent;
   }
   .info {
      width: 300px;
      flex: none;
   }
   .name-mid {
      font-weight: 700;
      flex: 1;
   }
}

// .wrapper.small {
//    padding: 0;
// }

.more-btn {
   display: none;
   margin-right: 10px;
}
.container-more {
   border-radius: 2px;
   background-color: white;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.option-item {
   padding: 4px 10px;
   display: flex;
   .icon {
      margin-right: 10px;
      color: black;
   }
   &:hover {
      background-color: #b0b0b0;
   }
   button {
      background-color: transparent;
   }
}

.active {
   background-color: rgba(149, 149, 149, 0.8);
   .more-btn {
      display: block;
   }
}

.notification {
   position: fixed;
   top: 10%;
   right: 10px;
   display: flex;
   align-items: center;
   border-radius: 5px;
   padding: 20px;
   height: 10%;
   background-color: #333;
   color: white;
   font-weight: 800;
   &.success {
      border: 4px solid rgb(15, 161, 76);
   }
   &.failed {
      border: 4px solid rgb(101, 23, 23);
   }
}

@media (min-width: 740px) and (max-width: 1023px) {
   .wrapper {
      width: 310px;
   }
}

@media (max-width: 739px) {
   .rating_view,
   .rating_favourite {
      .info {
         width: 215px;
      }
      .name-mid {
         display: none;
      }
   }
   .just_img {
      &.wrapper {
         width: 200px;
         height: 200px;
      }
   }
}
