@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

.wrapper {
   position: fixed;
   display: flex;
   background-color: #000;
   height: 66px;
   width: 100%;
}
.inner {
   width: 100%;
   padding: 0 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo-music {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: white;
   border: 1px solid white;
}
.logo {
   display: flex;
   align-items: center;
}
//Font import from google
.comic-relief-regular {
   font-family: 'Comic Relief', system-ui;
   font-weight: 400;
   font-style: normal;
}

.comic-relief-bold {
   font-family: 'Comic Relief', system-ui;
   font-weight: 700;
   font-style: normal;
}
.title {
   font-family: 'Comic Relief', system-ui;
   font-weight: 700;
   margin-left: 5px;
   color: white;
}
