.wrapper {
   display: flex;
   flex-direction: column;
   background-color: black;
}
.container {
   display: flex;
   max-width: 100%;
   margin-top: 66px;
}
.content {
   // Thao tác giúp scroll ngay trong container content
   height: 100vh;
   overflow-y: auto;
   flex: 1;
   background-color: #121212;
   border-radius: 5px;
}
